{% extends 'base.html' %}


{% block content %}


<div class="container mt-5">
     <a class="btn btn-primary"  href={% url 'bookshop:add_book' %}>Add new product </a>
    {% include 'paginator.html' %}
    <div class="row">
        <div class="col">
            {% include 'sort.html' %}
        </div>



{% for book in books %}

<div class="card m-2" style="width: 18rem;">
  <img src="https://placehold.co/400" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{book.title}}</h4>
      <h5 class="card-title">{{book.author}}</h5>
      <h5 class="card-title"><span class="badge bg-success">{{book.category.all|join:", "}}</span></h5>
    <p class="card-text">Description: {{book.description | truncatewords:12 }}</p>
      <p class="card-text">price: {{book.price}}$</p>
      <a href="{% url 'bookshop:book_detail' book.id %}"  class="btn btn-success">details</a>


  </div>
</div>

{% endfor %}



 {% include 'paginator.html' %}

{% endblock %}
</div>
</div>




